<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help & Support Page</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../../styles/global.css">
</head>

<body>

    <!-- Navbar will be loaded dynamically -->
    <div id="navbar-container"></div>

    <!-- Page Specific Content -->
    <div class="page-content" style="padding: 100px; text-align: center;">
        <h1>Help & Support Page</h1>
        <p>For more help, contact h2hchess-support@example.com
        </p>
    </div>

    <!-- Load Navbar Script -->
    <script src="../../scripts/load-navbar.js"></script>
</body>

</html>